* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  background-color: #485b2f;
  color: #ffffff;
  /* opacity: 0.7; */
}

.header-title {
  display: flex;
  gap: 20px;
}

main {
  background-color: #dff9ba;
  height: 500px;
}
