@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("./fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
      url("./fonts/SpoqaHanSansNeo-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("./fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
      url("./fonts/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("./fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
      url("./fonts/SpoqaHanSansNeo-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("./fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2"),
      url("./fonts/SpoqaHanSansNeo-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }